[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "jquery"]
	path = jquery
	url = git://github.com/jquery/jquery.git
[submodule "notorm"]
	path = notorm
	url = git@github.com:vrana/notorm.git
